@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    
    --ring: 240 4.9% 83.9%;
    
    --chart-1: 0 0% 98%;
    --chart-2: 240 5% 64.9%;
    --chart-3: 240 3.7% 15.9%;
    --chart-4: 240 10% 3.9%;
    --chart-5: 0 0% 98%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }

  .text-justify {
    text-align: justify;
  }

  @keyframes slither {
    0% {
      transform: translate(-20vw, 60vh) rotate(-45deg);
    }
    10% {
      transform: translate(10vw, 40vh) rotate(0deg);
    }
    20% {
      transform: translate(40vw, 70vh) rotate(60deg);
    }
    30% {
      transform: translate(60vw, 20vh) rotate(-20deg);
    }
    40% {
      transform: translate(80vw, 80vh) rotate(80deg);
    }
    50% {
      transform: translate(100vw, 50vh) rotate(0deg);
    }
    60% {
      transform: translate(80vw, 10vh) rotate(-80deg);
    }
    70% {
      transform: translate(60vw, 90vh) rotate(20deg);
    }
    80% {
      transform: translate(40vw, 30vh) rotate(45deg);
    }
    90% {
      transform: translate(10vw, 70vh) rotate(-30deg);
    }
    100% {
      transform: translate(-20vw, 60vh) rotate(-45deg);
    }
  }

  .animate-slither {
    animation: slither 25s linear infinite;
  }
}
